body {
    background-image: url("http://i.imgur.com/CmJzMib.jpg");
}
h1,
h2,
h3 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color: #BE008D
}
#wrapper {
    width: 960px;
    margin: 10px auto;
    background-color:black;
    padding: 10px 30px;
}

#logo {
    float: left;
    margin: 50px 0;

	  
}
#topnav {
    clear: both;
	border-bottom: 5px #00bcef dotted}
#topnav ul {
    padding: 10px 0 0 0;
    margin: 0;

}
#topnav ul li {
	font-size:30px;
    display: inline;
    list-style-type: none;
    margin: 40px 20px 80px 80px;
    color: yellow;
    float: right;
}
#topnav a:link {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
}
#topnav a:visited {
    font-weight: bold;
    text-decoration: none;
    color: yellow;
}
#topnav a:active {
    font-weight: bold;
    text-decoration: none;
    color: yellow;
}
#topnav a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #BE008D;
}
#topnav a:focus {
    font-weight: bold;
    text-decoration: none;
    color: #BE008D;
}
#content {
    float: left;
    width: 580px;
    
}
#content p {
    font-size: 12px;
    line-height: 180%;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: yellow;
}
#box1 {
    width: 270px;
    float: left;
}
#box2 {
    width: 280px;
    float: left;
}
#rightside {
    float: left;
    width: 280px;
    margin-left: 20px;
}
#rightside h2 {
    color: #BE008D;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
#rightside p {
    font-size: 12px;
    line-height: 180%;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: yellow;
}
#footer {
    clear: both;
    padding: 10px 0;
    margin-top: -200px;
    border-top: 5px #00bcef dotted;
}
#footer p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: yellow;
}
.img-right {
    float: right;
    padding: 0 0 10px 10px;
}
#slides {
    display: none;
}
#map {
    border: 2px solid black;
    z-index: 3;
}
#maphud {
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    overflow: visible;
    pointer-events: none;
    z-index: 2;
}
#camera1 {
    border: 2px solid black;
    z-index: 3;
}
#camera1frame {
    position: absolute;
    margin-top: -15px;
    margin-left: -13px;
    z-index: 2;
}
#ipid {
    border: 2px solid black;
    z-index: 3;
}
#iphud {
    position: absolute;
    margin-top: -10px;
    margin-left: -27px;
    width: 310px;
    pointer-events: none;
    z-index: 2;
}
#susid {
    width: 220px;
	margin:100px,0,0,0;
    z-index: 2;
}
#susidframe {
    position: absolute;
    width:220px;
    z-index: 2;
	
}
#prime{
    color: red;
}
#camera1 {
    border: 2px solid black;
    z-index: 3;
}
